services:
  db:
    image: postgres:13.16
    env_file: env.d/${ENV_FILE:-development}
    ports:
      - "5452:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.0
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  base:
    build: .
    image: partaj:latest
    # Override the default command so that the container exists immediately when
    # it is run (no server).
    command: echo "I should exit now. Bye."

  app:
    build:
      context: .
      dockerfile: ./docker/images/dev/Dockerfile
      args:
        DJANGO_CONFIGURATION: ${DJANGO_CONFIGURATION}
        DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
        DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE}
    image: partaj:dev
    entrypoint: /app/docker-entrypoint.sh
    env_file:
      - env.d/${ENV_FILE:-development}
    ports:
      - "8080:8000"
    volumes:
      - .:/app
      - ./data/static:/data/static
      - ./data/media:/data/media
    depends_on:
      - "base"
      - "db"
      - "elasticsearch"
    # command: >
    #  python manage.py runserver 0.0.0.0:8000
    stdin_open: true
    tty: true

  dockerize:
    platform: linux/amd64
    image: jwilder/dockerize

volumes:
  postgres_data:
    driver: local
  es_data:
    driver: local