{% extends "core/base.html" %}
{% load i18n static %}

{% block content %}
<section class="container mx-auto py-4">
  <h1 class="text-4xl my-4">{% trans 'My Referrals' %}</h1>
  <table class="table table-auto w-full mb-4">
    <thead class="bg-gray-800 text-white">
      <tr>
        <th scope="col">
          <span aria-hidden="true">#</span>
          <span class="offscreen">{% trans 'Case number' %}</span>
        </th>
        <th scope="col">{% trans 'Topic' %}</th>
        <th scope="col">{% trans 'Assignment(s)' %}</th>
        <th scope="col">{% trans 'Creation date' %}</th>
        <th scope="col">{% trans 'Expected response time' %}</th>
        <th scope="col">{% trans 'Status'%}</th>
      </tr>
    </thead>
    <tbody>
      {% for referral in referrals %}
        <tr class="{% if forloop.counter0|divisibleby:2 %}bg-gray-200{% endif %} hover:bg-gray-300 stretched-link-container cursor-pointer">
          <th scope="row"><a href="{% url 'requester-referral-detail' referral.id %}" class="stretched-link">#{{ referral.id }}</a></th>
          <td>{{ referral.topic.name }}</td>
          <td>
            {% if referral.assignees.count > 0 %}
              <ul class="list-none p-0">
                {% for assignee in referral.assignees.all %}
                  <li>{{ assignee.get_full_name }}</li>
                {% endfor %}
              </ul>
            {% else %}
              <span class="text-gray-600">—</span>
            {% endif %}
          </td>
          <td>{{ referral.created_at }}</td>
          <td>{{ referral.get_human_urgency }}</td>
          <td><span class="badge badge-{{ referral.get_state_class }}">{{ referral.get_human_state }}</span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock content %}
