{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<section class="container max-w-3xl mx-auto">
  <h1 class="text-4xl my-4">{% trans "Create a referral" %}</h1>

  <div>
    <div class="font-semibold">{% blocktrans with name=user.get_full_name %}As {{ name }}{% endblocktrans %}</div>
    <div class="text-gray-600">{{ user.email }}</div>
    {% if user.phone_number %}
      <div class="text-gray-600">{{ user.phone_number }}</div>
    {% endif %}
  </div>

  <form enctype="multipart/form-data" method="POST" class="my-8">
    {% csrf_token %}
    <div class="mb-8">
      <label for="{{ form.requester.id_for_label }}" class="mb-1 font-semibold">
        {% trans 'Requester name' %}
      </label>
      <p id="{{ form.requester.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {% blocktrans %}Identity of the person and service requesting the referral. It can be different from the authenticated user name if you want the referral to be formally addressed to someone else.{% endblocktrans %}
      </p>
      <input
        type="text"
        class="form-control"
        maxlength="{{ form.requester.field.max_length }}"
        id="{{ form.requester.id_for_label }}"
        name="{{ form.requester.html_name }}"
        value="{{ user.get_full_name }}"
        required=""
        aria-describedby="{{ form.requester.id_for_label }}-help-text"
      >
    </div>

    <div class="mb-8">
      <label for="{{ form.topic.id_for_label }}" class="mb-1 font-semibold">
        {% trans 'Referral topic' %}
      </label>
      <p id="{{ form.topic.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {{ form.topic.help_text|safe }}
      </p>
      <select
        type="text"
        class="form-control"
        id="{{ form.topic.id_for_label }}"
        name="{{ form.topic.html_name }}"
        required=""
        aria-describedby="{{ form.topic.id_for_label }}-help-text"
      >
        {% for choice_val, choice_text in form.topic.field.choices|dictsort:1 %}
          <option value="{{ choice_val }}">{{ choice_text }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="mb-8">
      <label for="{{ form.question.id_for_label }}" class="mb-1 font-semibold">
        {% trans 'Referral question' %}
      </label>
      <p id="{{ form.question.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {{ form.question.help_text|safe }}
      </p>
      <textarea
        type="text"
        class="form-control"
        cols="40"
        rows="5"
        id="{{ form.question.id_for_label }}"
        name="{{ form.question.html_name }}"
        required=""
        aria-describedby="{{ form.question.id_for_label }}-help-text"
      ></textarea>
    </div>

    <div class="mb-8">
      <label for="{{ form.context.id_for_label }}" class="mb-1 font-semibold">
        {{ form.context.label }}
      </label>
      <p id="{{ form.context.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {% blocktrans %}Description of the facts characterizing it (on a political, technical, legal level) necessary to analyze and answer the question{% endblocktrans %}
      </p>
      <textarea
        type="text"
        class="form-control"
        cols="40"
        rows="10"
        id="{{ form.context.id_for_label }}"
        name="{{ form.context.html_name }}"
        required=""
        aria-describedby="{{ form.context.id_for_label }}-help-text"
      ></textarea>
    </div>

    <div class="mb-8">
      <label for="{{ form.prior_work.id_for_label }}" class="mb-1 font-semibold">
        {{ form.prior_work.label }}
      </label>
      <p id="{{ form.prior_work.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {% blocktrans %}How do you interpret the referral question? Have you already formalized your own analysis on the topic?{% endblocktrans %}
      </p>
      <textarea
        type="text"
        class="form-control"
        cols="40"
        rows="10"
        id="{{ form.prior_work.id_for_label }}"
        name="{{ form.prior_work.html_name }}"
        required=""
        aria-describedby="{{ form.prior_work.id_for_label }}-help-text"
      ></textarea>
    </div>

    <div class="mb-8">
      <label for="{{ form.files.id_for_label }}" class="mb-1 font-semibold">
        {% trans "File attachments" %}
      </label>
      <p class="text-gray-600 mt-0 mb-1">
        {% blocktrans %}Formal letter of referral, any documents necessary to understand and analyze the question, any prior work{% endblocktrans %}
      </p>
      <input
        type="file"
        id="{{ form.files.id_for_label }}"
        name="{{ form.files.html_name }}"
        multiple
      >
    </div>

    <div class="mb-8">
      <label for="{{ form.urgency.id_for_label }}" class="mb-1 font-semibold">
        {% trans "Expected response time" %}
      </label>
      <p id="{{ form.urgency.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {% blocktrans %}Average response time is 3 weeks{% endblocktrans %}
      </p>
      <select
        type="text"
        class="form-control"
        id="{{ form.urgency.id_for_label }}"
        name="{{ form.urgency.html_name }}"
        aria-describedby="{{ form.urgency.id_for_label }}-help-text"
      >
        {% for choice_val, choice_text in form.urgency.field.choices %}
          {% if choice_val%}
            <option value="{{ choice_val }}">{{ choice_text }}</option>
          {% else %}
            <option value="" default>{% trans "3 weeks" %}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="mb-8">
      <label for="{{ form.urgency_explanation.id_for_label }}" class="mb-1 font-semibold">
        {{ form.urgency_explanation.label }}
      </label>
      <p id="{{ form.urgency_explanation.id_for_label }}-help-text" class="text-gray-600 mt-0 mb-1">
        {{ form.urgency_explanation.help_text|safe }}
      </p>
      <textarea
        type="text"
        class="form-control"
        cols="40"
        rows="4"
        id="{{ form.urgency_explanation.id_for_label }}"
        name="{{ form.urgency_explanation.html_name }}"
        aria-describedby="{{ form.urgency_explanation.id_for_label }}-help-text"
      ></textarea>
    </div>

    <p class="text-gray-600 mb-4">
      {% blocktrans %}Once you submit the form, you will no longer be able to change your referral. Please ensure it is complete before you submit it.{% endblocktrans %}
    </p>
    <input type="submit" class="btn btn-blue cursor-pointer" value="{% trans 'Ask for a referral' %}">
  </form>
</section>
{% endblock content %}
