{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
{% include "core/includes/outer_nav.html" %}

<article class="container mx-auto mt-4 mb-8 lg:my-16">
    <h1 class="font-light text-4xl md:text-5xl lg:text-6xl">Mentions légales</h1>

    <div class="space-y-4">
    <h2 class="font-semibold text-xl">Mentions d'information RGPD</h2>

    <p>
      Le traitement PARTAJ est mis en œuvre sous la responsabilité de la Direction des affaires juridiques (DAJ)
      relevant du ministère de la transition écologique (MTE), du ministère de la cohésion des territoires et des relations
      avec les collectivités territoriales (MCTRCT) et du ministère de la mer (MMer).
    </p>

    <p>
      Les données sont recueillies pour ce traitement dans le cadre de l’exercice de ses missions et pour les finalités
      suivantes : Traiter, suivre et gérer les demandes d’avis juridiques de la DAJ du Ministère.
    </p>

    <p>
      Ces données seront traitées par la DAJ. Elles sont conservées pour une durée de
    </p>

    <p>
      Le MTE, le MCTRCT et le MMer s’engagent à ce que les traitements de données à caractère personnel dont il est le responsable
      de traitement soient mis en œuvre conformément au règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016
      relatif à la protection des personnes physiques à l'égard du traitement des données à caractère personnel et à la libre circulation
      de ces données (ci-après, «règlement général sur la protection des données » ou RGPD) et à la loi n°78-17 du 6 janvier 1978
      relative à l'informatique, aux fichiers et aux libertés.
    </p>

    <p>
      A ce titre, ils traitent les données à caractère personnel recueillies dans le cadre des traitements dont ils ont la responsabilité
      uniquement pour la ou les seule(s) finalité(s) prédéfinies ainsi qu’à garantir la confidentialité des données à caractère personnel.
    </p>

    <p>
      Les personnes concernées par le traitement, conformément à la législation en vigueur, peuvent exercer leurs droits auprès
      du responsable de traitement.
    </p>

    <p>
      Ces droits sont les suivants :
    </p>

    <ul class="list-disc ml-8">
      <li class="font-semibold">Droit d’accès aux données</li>
      <li class="font-semibold">Droit d’information et de vérification</li>
      <li class="font-semibold">Droit de rectification</li>
      <li class="font-semibold">Droit à la limitation</li>
      <li class="font-semibold">Droit à l’effacement</li>
      <li class="font-semibold">Droit d’opposition</li>
    </ul>

    <p>
      Pour toute information ou exercice de vos droits, vous pouvez contacter :
    </p>

    <ol class="list-decimal ml-8 space-y-4">
      <li class="whitespace-pre-line">Le responsable de traitement, qui peut être contacté à l’adresse suivante :
      <div style="margin-left: 10px">
        Direction des affaires juridiques, Adjoint à la directrice des affaires juridiques,
        contact.partaj@ecologie.gouv.fr
        Le Ministère de la Transition écologique et solidaire
        Direction des affaires juridiques
        Grand Arche paroi Sud
        Parvis de La Défense
        92800 Puteaux
      </div>
      </li>
      <li class="whitespace-pre-line">Le délégué à la protection des données (DPD) du MTE, du MCTRCT et du MMer :
        <ul>
          <li>- à l’adresse suivante : dpd.daj.sg@developpement-durable.gouv.fr ;</li>
          <li> - ou par courrier (avec copie de votre pièce d’identité en cas d’exercice de vos droits) à l’adresse suivante :
              <div style="margin-left: 10px">
                Ministère de la transition écologique
                Ministère de la cohésion des territoires et des relations avec les collectivités territoriales
                Ministère de la mer
                A l’attention du Délégué à la protection des données
                SG/DAJ/AJAG1-2
                92055 La Défense cedex
              </div>
          </li>
        </ul>


      </li>
    </ol>

    <p>
      Vous avez également la possibilité d’adresser une réclamation relative aux traitements mis en œuvre à la Commission
      nationale informatique et libertés (3 Place de Fontenoy - TSA 80715 - 75334 PARIS CEDEX 07).
    </p>
    </div>
</article>

{% include "core/includes/footer.html" %}
{% endblock content %}
