{% extends "core/unit/base.html" %}
{% load i18n %}

{% block unit_content %}
<h3 class="text-2xl mb-2">{% trans 'Members' %}</h3>
<table class="table table-auto w-full mb-4">
  <thead class="bg-gray-800 text-white">
    <tr>
      <th scope="col">{% trans 'Name'%}</th>
      <th scope="col">{% trans 'Joined on' %}</th>
      <th scope="col">{% trans 'Role' %}</th>
      <th scope="col">{% trans 'Assigned referrals'%}</th>
    </tr>
  </thead>
  <tbody>
    {% for membership in unit.get_memberships|dictsort:"user.last_name" %}
      {% with member=membership.user %}
        <tr class="{% if forloop.counter0|divisibleby:2 %}bg-gray-200{% endif %} hover:bg-gray-300">
          <th scope="row">{{ member.get_full_name }}</th>
          <td>{{ membership.created_at }}</td>
          <td>{{ membership.get_human_role }}</td>
          <td>{{ member.referralassignment_set.count }}</td>
        </tr>
      {% endwith %}
    {% endfor %}
  </tbody>
</table>
{% endblock unit_content %}
