/* GENERIC RULES */
/* Most paragraphs we display are user-generated content. We want to preserve white space
/* including linebreaks by default. */
.user-content {
  white-space: pre-wrap;
}

/* A11Y STYLES */
/* Helper class to hide elements from sighted users and have accessibility devices still read them
/* to users that need it. */
.offscreen {
  position: absolute;
  left: -9999rem;
}

/* BUTTONS HELPER */
.btn.disabled,
.btn:disabled {
  cursor: not-allowed;
}

/* SPINNER */
.spinner-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 0.125rem solid transparent;
  border-left-color: darkslategray;
  border-top-color: darkslategray;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: baseline;
}

.spinner--small {
  width: 1rem;
  height: 1rem;
}

.spinner--large {
  width: 3rem;
  height: 3rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
