# OpenStack environment variables
OS_AUTH_URL=https://auth.cloud.ovh.net/v2.0
OS_TENANT_NAME=os_tenant_name
OS_USERNAME=os_username
OS_PASSWORD=os_password
# Switch region name between eg. GRA and GRA7 depending on the service
OS_REGION_NAME=GRA7

# Terraform environment variables
TF_VAR_ovh_region=GRA
TF_VAR_ovh_region_suffix=GRA7
