# Django
DJANGO_SETTINGS_MODULE=partaj.settings
DJANGO_CONFIGURATION=Development
DJANGO_SECRET_KEY=ThisIsAnExampleKeyForDevPurposeOnly

# Create the first superuser during migrations
DJANGO_DB_NAME=partaj
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin

# Uploaded files related object storage
DJANGO_AWS_STORAGE_BUCKET_NAME=bucket-name
DJANGO_AWS_S3_ENDPOINT_URL=https://s3-like-storage.example.com
DJANGO_AWS_ACCESS_KEY_ID=TheAccessKeyId
DJANGO_AWS_SECRET_ACCESS_KEY=TheSecretAccessKey

# General settings for Partaj
DJANGO_PARTAJ_PRIMARY_LOCATION=http://127.0.0.1:8080
DJANGO_SENTRY_DSN=https://example.com/dsn

DJANGO_CONTACT_EMAIL=contact.partaj@ecologie.gouv.fr

# File Scanner settings
DJANGO_FILE_SCANNER_SERVER = 'https://example.com/scan'

# Tracker Settings
DJANGO_ENABLE_TRACKING = 0
DJANGO_TRACKER_ID = 0000

DJANGO_NOTIX_SERVER_URL=http:///example.com
DJANGO_NOTIX_LOGIN=login
DJANGO_NOTIX_MDP=password

# We use sendinblue as an email service provider
DJANGO_EMAIL_PROVIDER_SEND_ENDPOINT=https://api.sendinblue.com/v3/smtp/email
DJANGO_EMAIL_PROVIDER_API_KEY=TheEmailProviderKey

# Postgresql db container configuration
POSTGRES_DB=partaj
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

# App database configuration
DB_HOST=db
DB_NAME=partaj
DB_USER=admin
DB_PASSWORD=admin
DB_PORT=5432

# Python
PYTHONUNBUFFERED=1

# Env version
DJANGO_ENV_VERSION=MTES
