{% load i18n %}
<footer class="mt-auto bg-gray-800 text-white p-8">
  <div class="container mx-auto flex flex-row justify-end items-center">
    <div class="w-64">
      <h2 class="font-bold">{% trans "Links" %}</h2>
      <ul>
        <li>
          <a href="mailto:{{ contact_email }}">{% trans "Contact us" %}</a>
        </li>
        {% if env_version == 'MTES' %}
          <li>
            <a href="/stats/">{% trans "Statistics" %}</a>
          </li>
        {% endif %}

        <li>
          <a href="/legal/">{% trans "Legal mentions" %}</a>
        </li>
        <li>
          <a href="/accessibilite/">{% trans "Accessibility: improper" %}</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
