<nav class="container mx-auto flex items-center justify-between flex-wrap lg:py-4">
  <a
    class="flex items-center text-black h-12 hover:text-black hover:no-underline"
    href="/"
  >
    <img
      src="/static/core/img/logo-marianne.svg"
      class="w-auto h-full mr-3"
    />
    <span
      class="h-full font-light"
      style="padding: 10px 2px 0 0; font-size: 1.15rem"
    >
      partaj
    </span>
    <img
      src="/static/core/img/point-beta-gouv-fr.svg"
      class="w-auto h-full"
      style="min-width: 7rem;"
    />
  </a>
  <div class="w-full block flex-grow my-2 lg:my-0 shadow-inner lg:shadow-none bg-gray-200 lg:bg-transparent lg:flex lg:items-center lg:w-auto lg:justify-end">
</nav>
