{% load i18n %}

<nav class="container mx-auto flex items-center justify-between flex-wrap lg:py-4">
  <a
    class="flex items-center text-black h-12 hover:text-black hover:no-underline"
    href="/"
  >
    <img
      src="/static/core/img/logo-marianne.svg"
      alt='Logo marianne'
      class="w-auto h-full mr-3"
    />
    <span
      class="h-full font-light"
      style="padding: 10px 2px 0 0; font-size: 1.15rem"
    >
      <b>partaj.ecologie.gouv.fr</b>
    </span>
  </a>
  <div class="w-full block flex-grow my-2 lg:my-0 shadow-inner lg:shadow-none bg-gray-200 lg:bg-transparent lg:flex lg:items-center lg:w-auto lg:justify-end space-x-8">
    <a target="_blank" href="https://documentation.partaj.beta.gouv.fr" class="text-primary-500">{% trans 'Documentation' %}</a>
    <a href="{% url 'cas_ng_login' %}" class="btn btn-primary">{% trans 'Log in / Sign up' %}</a>
  </div>
</nav>
