{% extends "core/base.html" %}
{% block title %}Accès refusé - Partaj{% endblock %}

{% block content %}
{% include "core/includes/outer_nav.html" %}

<main>
  <section class="flex py-20">
    <div class="flex flex-col m-auto items-center space-y-8" style="max-width: 40rem;">
      <h1 class="text-4xl font-extrabold text-gray-900 leading-tight text-center">
        Accès refusé
      </h1>
      <p class="text-lg text-gray-700 text-center">
        L'accès à Partaj n'est pas disponible pour les utilisateurs particuliers.
      </p>
      <p class="text-gray-600 text-center">
        Si vous pensez qu'il s'agit d'une erreur, veuillez contacter votre administrateur.
      </p>
    </div>
  </section>
</main>

{% include "core/includes/footer.html" %}
{% endblock content %}
