{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<section class="container mx-auto mt-4 mb-8 lg:my-16">
  <div class="max-w-4xl px-8 py-16 bg-gray-200 rounded-md mx-4 md:mx-8 lg:mx-0">
    <h1 class="font-light text-4xl md:text-5xl lg:text-6xl">{% trans 'Discover Partaj' %}</h1>
    <p class="font-light text-xl">{% blocktrans %}The single tool to manage, drive and highlight the advice activity of the department of judicial affairs.{% endblocktrans %}</p>
    <hr class="my-6 border-gray-500">
    <p class="mb-6">{% blocktrans %}Partaj is still being built. Experimentation is limited to public agents for the Ministère de la transition écologique et solidaire.{% endblocktrans %}</p>
    {% if not user.is_authenticated %}
      <a class="btn btn-blue btn-lg inline-block" href="{% url 'cas_ng_login' %}" role="button">{% trans 'Log in / Sign up' %}</a>
    {% else %}
      <a class="btn btn-blue btn-lg inline-block" href="{% url 'requester-referral-create' %}" role="button">{% trans 'New Referral' %}</a>
    {% endif %}
  </div>
</section>
{% endblock content %}
