{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<style type="text/css">
.new-referral__form-group {
  margin-bottom: 2rem;
}

.new-referral__label {
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.new-referral__form-text {
  margin-top: 0;
  margin-bottom: .25rem;
}
</style>

<section class="container">
  <h1 style="margin: 2rem 0;">{% trans "Create a referral" %}</h1>

    <div>
      <div><b>{% blocktrans with name=user.get_full_name %}As {{ name }}{% endblocktrans %}</b></div>
      <div class="text-muted">{{ user.email }}</div>
      {% if user.phone_number %}
        <div class="text-muted">{{ user.phone_number }}</div>
      {% endif %}
    </div>

  <form enctype="multipart/form-data" method="POST" style="margin: 2rem 0;">
    {% csrf_token %}
    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.requester.id_for_label }}" class="new-referral__label">
          {% trans 'Requester name' %}
        </label>
        <p id="{{ form.requester.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {% blocktrans %}Identity of the person and service requesting the referral. It can be different from the authenticated user name if you want the referral to be formally addressed to someone else.{% endblocktrans %}
        </p>
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.requester.field.max_length }}"
          id="{{ form.requester.id_for_label }}"
          name="{{ form.requester.html_name }}"
          value="{{ user.get_full_name }}"
          required=""
          aria-describedby="{{ form.requester.id_for_label }}-help-text"
        >
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.subject.id_for_label }}" class="new-referral__label">
          {% trans 'Referral topic' %}
        </label>
        <p id="{{ form.subject.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {{ form.subject.help_text|safe }}
        </p>
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.subject.field.max_length }}"
          id="{{ form.subject.id_for_label }}"
          name="{{ form.subject.html_name }}"
          required=""
          aria-describedby="{{ form.subject.id_for_label }}-help-text"
        >
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.question.id_for_label }}" class="new-referral__label">
          {% trans 'Referral question' %}
        </label>
        <p id="{{ form.question.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {{ form.question.help_text|safe }}
        </p>
        <textarea
          type="text"
          class="form-control"
          cols="40"
          rows="5"
          id="{{ form.question.id_for_label }}"
          name="{{ form.question.html_name }}"
          required=""
          aria-describedby="{{ form.question.id_for_label }}-help-text"
        ></textarea>
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.context.id_for_label }}" class="new-referral__label">
          {{ form.context.label }}
        </label>
        <p id="{{ form.context.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {% blocktrans %}Description of the facts characterizing it (on a political, technical, legal level) necessary to analyze and answer the question{% endblocktrans %}
        </p>
        <textarea
          type="text"
          class="form-control"
          cols="40"
          rows="10"
          id="{{ form.context.id_for_label }}"
          name="{{ form.context.html_name }}"
          required=""
          aria-describedby="{{ form.context.id_for_label }}-help-text"
        ></textarea>
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.prior_work.id_for_label }}" class="new-referral__label">
          {{ form.prior_work.label }}
        </label>
        <p id="{{ form.prior_work.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {% blocktrans %}How do you interpret the referral question? Have you already formalized your own analysis on the topic?{% endblocktrans %}
        </p>
        <textarea
          type="text"
          class="form-control"
          cols="40"
          rows="10"
          id="{{ form.prior_work.id_for_label }}"
          name="{{ form.prior_work.html_name }}"
          required=""
          aria-describedby="{{ form.prior_work.id_for_label }}-help-text"
        ></textarea>
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.files.id_for_label }}" class="new-referral__label">
          {% trans "File attachments" %}
        </label>
        <p class="form-text text-muted new-referral__form-text">
          {% blocktrans %}Formal letter of referral, any documents necessary to understand and analyze the question, any prior work{% endblocktrans %}
        </p>
        <input
          type="file"
          id="{{ form.files.id_for_label }}"
          name="{{ form.files.html_name }}"
          multiple
        >
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.urgency.id_for_label }}" class="new-referral__label">
          {% trans "Expected response time" %}
        </label>
        <p id="{{ form.urgency.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {% blocktrans %}Average response time is 3 weeks{% endblocktrans %}
        </p>
        <select
          type="text"
          class="form-control"
          id="{{ form.urgency.id_for_label }}"
          name="{{ form.urgency.html_name }}"
          aria-describedby="{{ form.urgency.id_for_label }}-help-text"
        >
          {% for choice_val, choice_text in form.urgency.field.choices %}
            {% if choice_val%}
              <option value="{{ choice_val }}">{{ choice_text }}</option>
            {% else %}
              <option value="" default>{% trans "3 weeks" %}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="row form-group new-referral__form-group">
      <div class="col-sm-12 col-md-8">
        <label for="{{ form.urgency_explanation.id_for_label }}" class="new-referral__label">
          {{ form.urgency_explanation.label }}
        </label>
        <p id="{{ form.urgency_explanation.id_for_label }}-help-text" class="form-text text-muted new-referral__form-text">
          {{ form.urgency_explanation.help_text|safe }}
        </p>
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.urgency_explanation.field.max_length }}"
          id="{{ form.urgency_explanation.id_for_label }}"
          name="{{ form.urgency_explanation.html_name }}"
          aria-describedby="{{ form.urgency_explanation.id_for_label }}-help-text"
        >
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8">
        <p class="text-muted" style="margin-bottom: 1rem;">
          {% blocktrans %}Once you submit the form, you will no longer be able to change your referral. Please ensure it is complete before you submit it.{% endblocktrans %}
        </p>
        <input type="submit" class="btn btn-primary" value="{% trans 'Ask for a referral' %}">
      </div>
    </div>
  </form>
</section>
{% endblock content %}
