{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<section class="container">
  <h1 style="margin: 2rem 0;">{% trans "Create a referral" %}</h1>
  <form enctype="multipart/form-data" method="POST" style="margin: 2rem 0;">
    {% csrf_token %}
    <div class="form-group row">
      <label for="{{ form.requester.id_for_label }}" class="col-sm-2 col-form-label">
        {% trans 'Requester name' %}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.requester.field.max_length }}"
          id="{{ form.requester.id_for_label }}"
          name="{{ form.requester.html_name }}"
          required=""
          aria-describedby="{{ form.requester.id_for_label }}-help-text"
        >
        <p id="{{ form.requester.id_for_label }}-help-text" class="form-text text-muted">
          {{ form.requester.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.requester_email.id_for_label }}" class="col-sm-2 col-form-label">
        {{ form.requester_email.label }}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.requester_email.field.max_length }}"
          id="{{ form.requester_email.id_for_label }}"
          name="{{ form.requester_email.html_name }}"
          required=""
          aria-describedby="{{ form.requester_email.id_for_label }}-help-text"
        >
        <p id="{{ form.requester_email.id_for_label }}-help-text" class="form-text text-muted">
          {{ form.requester_email.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.requester_phone_number.id_for_label }}" class="col-sm-2 col-form-label">
        {{ form.requester_phone_number.label }}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.requester_phone_number.field.max_length }}"
          id="{{ form.requester_phone_number.id_for_label }}"
          name="{{ form.requester_phone_number.html_name }}"
          required=""
          aria-describedby="{{ form.requester_phone_number.id_for_label }}-help-text"
        >
        <p id="{{ form.requester_phone_number.id_for_label }}-help-text" class="form-text text-muted">
          {{ form.requester_phone_number.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.subject.id_for_label }}" class="col-sm-2 col-form-label">
        {% trans 'Referral topic' %}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.subject.field.max_length }}"
          id="{{ form.subject.id_for_label }}"
          name="{{ form.subject.html_name }}"
          required=""
          aria-describedby="{{ form.subject.id_for_label }}-help-text"
        >
        <p id="{{ form.subject.id_for_label }}-help-text" class="form-text text-muted">
          {{ form.subject.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.question.id_for_label }}" class="col-sm-2 col-form-label">
        {% trans 'Referral question' %}
      </label>
      <div class="col-sm-10">
        <textarea
          type="text"
          class="form-control"
          cols="40"
          rows="5"
          id="{{ form.question.id_for_label }}"
          name="{{ form.question.html_name }}"
          required=""
          aria-describedby="{{ form.question.id_for_label }}-help-text"
        ></textarea>
        <p id="{{ form.question.id_for_label }}-help-text" class="form-text text-muted">
          {{ form.question.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.context.id_for_label }}" class="col-sm-2 col-form-label">
        {{ form.context.label }}
      </label>
      <div class="col-sm-10">
        <textarea
          type="text"
          class="form-control"
          cols="40"
          rows="10"
          id="{{ form.context.id_for_label }}"
          name="{{ form.context.html_name }}"
          required=""
          aria-describedby="{{ form.context.id_for_label }}-help-text"
        ></textarea>
        <p id="{{ form.context.id_for_label }}-help-text" class="form-text text-muted">
          {% blocktrans %}Elements of context leading to the current referral. Description of the facts characterizing it (on a political, technical, legal level) necessary to analyze and answer the question{% endblocktrans %}
          {{ form.context.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.prior_work.id_for_label }}" class="col-sm-2 col-form-label">
        {{ form.prior_work.label }}
      </label>
      <div class="col-sm-10">
        <textarea
          type="text"
          class="form-control"
          cols="40"
          rows="10"
          id="{{ form.prior_work.id_for_label }}"
          name="{{ form.prior_work.html_name }}"
          required=""
          aria-describedby="{{ form.prior_work.id_for_label }}-help-text"
        ></textarea>
        <p id="{{ form.prior_work.id_for_label }}-help-text" class="form-text text-muted">
          {% blocktrans %}How do you interpret the referral question? Have you already formalized your own analysis on the topic?{% endblocktrans %}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.files.id_for_label }}" class="col-sm-2 col-form-label">
        {% trans "File attachments" %}
      </label>
      <div class="col-sm-10">
        <input
          type="file"
          id="{{ form.files.id_for_label }}"
          name="{{ form.files.html_name }}"
          multiple
        >
        <p class="form-text text-muted">
          {% blocktrans %}Formal letter of referral, any documents necessary to understand and analyze the question, any prior work{% endblocktrans %}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.urgency.id_for_label }}" class="col-sm-2 col-form-label">
        {% trans "Expected response time" %}
      </label>
      <div class="col-sm-10">
        <select
          type="text"
          class="form-control"
          id="{{ form.urgency.id_for_label }}"
          name="{{ form.urgency.html_name }}"
          aria-describedby="{{ form.urgency.id_for_label }}-help-text"
        >

          {% for choice_val, choice_text in form.urgency.field.choices %}
            {% if choice_val%}
              <option value="{{ choice_val }}">{{ choice_text }}</option>
            {% else %}
              <option value="" default>{% trans "3 weeks" %}</option>
            {% endif %}
          {% endfor %}
        </select>
        <p id="{{ form.urgency.id_for_label }}-help-text" class="form-text text-muted">
          {% blocktrans %}Average response time is 3 weeks{% endblocktrans %}
        </p>
      </div>
    </div>

    <div class="form-group row">
      <label for="{{ form.urgency_explanation.id_for_label }}" class="col-sm-2 col-form-label">
        {{ form.urgency_explanation.label }}
      </label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          maxlength="{{ form.urgency_explanation.field.max_length }}"
          id="{{ form.urgency_explanation.id_for_label }}"
          name="{{ form.urgency_explanation.html_name }}"
          aria-describedby="{{ form.urgency_explanation.id_for_label }}-help-text"
        >
        <p id="{{ form.urgency_explanation.id_for_label }}-help-text" class="form-text text-muted">
          {{ form.urgency_explanation.help_text|safe }}
        </p>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-sm-3">
        <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Ask for a referral' %}">
      </div>
    </div>
  </form>
</section>
{% endblock content %}
