.react-autosuggest {
  &__container {
    position: relative;
  }

  &__input {
    @apply inline-block w-full rounded shadow-sm border border-gray-300 bg-white pl-3 pr-10 py-2 text-left transition ease-in-out duration-150;

    &[disabled] {
      @apply bg-gray-200;
    }

    &:focus {
      @apply outline-none ring border-primary-300;
    }
  }

  &__suggestions-container {
    @apply absolute mt-1 w-full rounded bg-white shadow-lg;
    z-index: 11;
  }

  &__suggestions-list {
    @apply rounded py-1 text-base leading-6 ring-1 ring-black ring-opacity-5 overflow-auto;
    max-height: 40rem;

    &:focus {
      @apply outline-none;
    }
  }

  &__suggestion {
    @apply text-gray-900 cursor-default select-none relative py-2 pl-3 pr-8;

    &[aria-selected='true'] {
      @apply bg-primary-500 text-white;
    }
  }
}

.react-autosuggest-with-sections {
  .react-autosuggest {
    &__suggestions-container--open {
      @apply border-gray-300 pb-4;
      min-width: 25rem;
    }

    &__section-container {
      @apply mt-4 pl-4;
    }

    &__section-title {
      @apply text-gray-500 font-medium mb-2;
    }

    &__suggestions-list {
      @apply ml-2 rounded-none shadow-none;
    }
  }
}
