.badge {
  @apply rounded-full text-sm;
  padding: 0.125rem 0.5rem;
  width: fit-content;
  line-height: 23px;

  &-draft {
    @apply text-gray-500 bg-gray-transparent-8p;
  }

  &-answered {
    @apply bg-success-100;
  }

  &-received {
    @apply bg-primary-transparent-8p;
  }

  &-processing {
    @apply bg-primary-transparent-8p;
  }

  &-assigned {
    @apply bg-warning-transparent-8p;
  }

  &-closed {
    @apply bg-danger-transparent-8p;
  }

  &-incomplete {
    @apply bg-gray-transparent-8p;
  }

  &-invalidation {
    @apply bg-warning-200;
  }
}
