.badge {
  padding: 1px 8px 1px 6px;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;

  div:first-child {
    @apply rounded-full;
    width: 12px;
    height: 12px;
    margin-right: 7px;
  }
}
