.badge {
  @apply rounded-full text-sm;
  padding: 3px 13px 3px 7px;
  width: fit-content;
  height: fit-content;

  div:first-child {
    @apply rounded-full;
    width: 15px;
    height: 15px;
    margin-right: 7px;
  }
}
