/* BUTTONS HELPER */
.btn {
  @apply py-2 px-4 rounded-sm;
  width: fit-content;

  /* SIZES */
  &-sm {
    @apply px-2 text-sm;
  }

  &-lg {
    @apply text-xl leading-normal;
  }

  &-outline {
    @apply bg-white border border-gray-500;

    &:hover {
      @apply bg-gray-300;
    }
  }

  /* STYLES */
  &-default {
    @apply bg-white text-black;

    &:hover {
      @apply bg-gray-200;
    }
  }

  &-primary {
    @apply bg-primary-500 text-white;

    &:hover {
      @apply bg-primary-700;
    }
  }

  &-gray {
    @apply bg-gray-300 text-black;

    &:hover {
      @apply bg-gray-400;
    }
  }

  &-light-gray {
    @apply bg-gray-100 text-black;

    &:hover {
      @apply bg-gray-200;
    }
  }

  &-primary-outline {
    @apply bg-transparent border border-primary-500 text-primary-500;

    &:hover {
      @apply bg-primary-500 text-white;
    }
  }

  &-info {
    @apply bg-info-500 text-white;

    &:hover {
      @apply bg-info-700;
    }
  }

  &-success {
    @apply bg-success-500 text-white;

    &:hover {
      @apply bg-success-700;
    }
  }
}

.button {
  @apply text-sm py-1 px-2 rounded-sm items-center justify-center;
  width: fit-content;

  &-dangerous {
    @apply bg-gray-100 text-danger-500;
    &:hover {
      @apply bg-danger-400 text-white;
    }
  }
}

.wrapper-btn {
  width: fit-content;
  cursor: pointer;
}

.radio-btn {
  width: 20px;
  height: 20px;
}

.action-button {
  @apply flex cursor-pointer relative z-10 rounded-sm p-1 text-sm items-center;
  width: fit-content;
  height: fit-content;
  span {
    padding-left: 4px;
    padding-right: 4px;
  }
  &:focus {
    outline: none;
  }

  &-blue {
    @apply bg-primary-1000 text-white;
    &:hover {
      @apply bg-primary-800;
    }
  }

  &-white {
    @apply bg-white text-primary-1000 border;
    &:hover {
      @apply bg-gray-100;
    }
  }

  &-gray {
    @apply bg-gray-300 text-black;
    &:hover {
      @apply bg-gray-400;
    }
  }

  &-light-gray {
    @apply bg-gray-200 text-primary-1000;
    &:hover {
      @apply bg-gray-300;
    }
  }
}

.icon-button {
  @apply flex cursor-pointer relative rounded-sm p-1 items-center;
  width: fit-content;
  height: fit-content;

  &:focus {
    outline: none;
  }

  &-white {
    @apply bg-white;
    svg {
      @apply fill-gray300;
    }
    &:hover {
      @apply bg-gray-200;
    }
  }

  &-hover-danger {
    &:hover {
      svg {
        @apply fill-danger700;
      }
    }
  }
}

.table-row-button {
  @apply cursor-pointer relative z-10 rounded-sm p-1;
  width: fit-content;
  &:focus {
    outline: none;
  }
  &:hover {
    @apply bg-white;
  }

  &:hover + .hover-table-row-button {
    @apply block;
  }
}

.hover-table-row-button {
  @apply hidden p-3 mt-3 absolute rounded bg-white border-gray-300 top-0 right-0 border -mt-3 -mr-3;
}

.hover-table-row-button-title {
  @apply mr-20 whitespace-no-wrap flex items-center px-4;
  height: 40px;
}
