/* BUTTONS HELPER */
.base-btn {
  @apply cursor-pointer;
  &:focus {
    outline: none;
  }
}

.btn {
  @apply py-2 px-4 rounded-sm;
  width: fit-content;

  /* SIZES */
  &-sm {
    @apply px-2 text-sm;
  }

  &-lg {
    @apply text-xl leading-normal;
  }

  &-outline {
    @apply bg-white border border-gray-500;

    &:hover {
      @apply bg-gray-300;
    }
  }

  /* STYLES */
  &-default {
    @apply bg-white text-black;

    &:hover {
      @apply bg-gray-200;
    }
  }

  &-primary {
    @apply bg-primary-500 text-white;

    &:hover {
      @apply bg-primary-700;
    }
  }

  &-warning {
    @apply bg-warning-200 text-black;

    &:hover {
      @apply bg-warning-300;
    }
  }

  &-danger {
    @apply bg-danger-200 text-black;

    &:hover {
      @apply bg-danger-300;
    }
  }

  &-success-light {
    @apply bg-success-200 text-black;

    &:hover {
      @apply bg-success-300;
    }
  }

  &-purple-light {
    @apply bg-purple-200 text-black;

    &:hover {
      @apply bg-purple-500;
    }
  }

  &-gray {
    @apply bg-gray-300 text-black;

    &:hover {
      @apply bg-gray-400;
    }

    &[disabled] {
      @apply text-gray-400 bg-gray-200;

      &:hover:after {
        @apply absolute text-xs rounded-sm bg-white text-gray-600;
        opacity: 1;
        width: 240px;
        text-align: left;
        transition: opacity 0s linear 0.2s;
        content: attr(data-disabled);
        padding: 5px;
        bottom: 36px;
        left: 0;
        box-shadow: 2px 2px 8px #c6c6c6;
      }
    }
  }

  &-light-gray {
    @apply bg-gray-100 text-black;

    &:hover {
      @apply bg-gray-200;
    }
  }

  &-primary-outline {
    @apply bg-transparent border border-primary-500 text-primary-500;

    &:hover {
      @apply bg-primary-500 text-white;
    }
  }

  &-info {
    @apply bg-info-500 text-white;

    &:hover {
      @apply bg-info-700;
    }
  }

  &-success {
    @apply bg-success-500 text-white;

    &:hover {
      @apply bg-success-700;
    }
  }
}

.button {
  @apply flex text-sm p-2 rounded-sm items-center justify-center cursor-pointer;
  width: fit-content;
  height: fit-content;

  &:focus {
    outline: none;
  }

  /** STYLE **/
  &-dangerous {
    @apply bg-gray-100 text-danger-500;
    &:hover {
      @apply bg-danger-400 text-white;
    }
  }

  &-white {
    @apply bg-white text-black;
    &:hover {
      @apply bg-gray-200;
    }
  }

  &-white-grey {
    @apply bg-white text-grey-400;
    &:hover {
      @apply bg-grey-100;
    }
  }

  &-grey {
    @apply bg-grey-100 text-grey-400;
    &:hover {
      @apply bg-grey-200;
    }
    &-hover-red {
      &:hover {
        @apply text-danger-600;
        svg {
          @apply fill-danger600;
        }
      }
    }
  }

  &-primary-1000 {
    @apply bg-primary-1000;
    &:hover {
      @apply bg-primary-900;
    }
  }

  &-fit {
    padding: 3px;
  }

  &-superfit {
    padding: 0px 4px;
  }
}

.wrapper-btn {
  width: fit-content;
  cursor: pointer;
}

.radio-btn {
  width: 20px;
  height: 20px;
}

.action-button {
  @apply flex cursor-pointer relative z-10 rounded-sm p-1 text-sm items-center;
  width: fit-content;
  height: fit-content;
  span {
    padding-left: 4px;
    padding-right: 4px;
  }

  &-blue {
    @apply bg-primary-1000 text-white;
    &:hover {
      @apply bg-primary-800;
    }
  }

  &-white {
    @apply bg-white text-primary-1000 border;
    &:hover {
      @apply bg-gray-100;
    }
  }

  &-gray {
    @apply bg-gray-300 text-black;
    &:hover {
      @apply bg-gray-400;
    }
  }

  &-light-gray {
    @apply bg-gray-200 text-primary-1000;
    &:hover {
      @apply bg-gray-300;
    }
  }
}

.icon-button {
  @apply flex cursor-pointer relative rounded-sm p-1 items-center;
  width: fit-content;
  height: fit-content;

  &:focus {
    outline: none;
  }

  &-white {
    @apply bg-white;
    svg {
      @apply fill-gray300;
    }
    &:hover {
      @apply bg-gray-200;
    }
  }

  &-hover-danger {
    &:hover {
      svg {
        @apply fill-danger700;
      }
    }
  }
}

.table-row-button {
  @apply cursor-pointer relative z-10 rounded-sm p-1;
  width: fit-content;
  &:focus {
    outline: none;
  }
  &:hover {
    @apply bg-white;
  }

  &:hover + .hover-table-row-button {
    @apply block;
  }
}

.hover-table-row-button {
  @apply hidden p-3 mt-3 absolute rounded bg-white border-gray-300 top-0 right-0 border -mt-3 -mr-3;
}

.hover-table-row-button-title {
  @apply mr-20 whitespace-nowrap flex items-center px-4;
  height: 40px;
}
