/* CHECKBOX HELPER */
.checkbox {
  @apply flex items-center justify-center w-4 h-4 border border-primary-700 bg-white;
  svg {
    display: none;
  }
  &[aria-checked='true'] {
    @apply bg-primary-700 !important;
    svg {
      display: block;
      fill: white;
    }
  }
}

.dsfr-checkbox {
  @apply flex items-center justify-center w-4 h-4 border border-dsfr-primary-500 rounded-xs bg-white;
  svg {
    display: none;
  }
  &[aria-checked='true'] {
    @apply bg-primary-700 !important;
    svg {
      display: block;
      fill: white;
    }
  }
}
