.day-picker--range {
  @apply border border-gray-400 bg-white rounded-sm px-3 pt-2;

  .DayPicker-wrapper {
    @apply pb-0;
  }

  .DayPicker-Month {
    @apply w-full m-0;
  }

  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
  }

  .DayPicker-Day {
    border-radius: 0 !important;
  }

  .DayPicker-Weekday {
    color: #6b7878;
  }

  .DayPicker-Caption {
    @apply mb-0;

    & > div {
      @apply text-base font-normal;
    }
  }

  .DayPicker-NavButton {
    @apply top-0 right-0;
  }
}
