.removable-item {
  @apply flex space-x-1 rounded-full items-center whitespace-nowrap;
  width: fit-content;
  padding: 2px 3px 2px 12px;
  margin-right: 4px;

  &--default {
    @apply text-white text-s bg-primary-700;
    &:hover {
      @apply bg-primary-500;
    }
    & svg {
      @apply fill-white;
      &:hover {
        @apply fill-danger400;
      }
    }
  }
}
