.removable-item {
  @apply flex p-2 rounded-full items-center whitespace-nowrap;
  width: fit-content;
  padding: 2px 3px 2px 7px;
  margin-right: 4px;

  &--default {
    @apply text-black text-s rounded-sm bg-gray-200;

    & svg {
      @apply fill-gray500;
      &:hover {
        @apply fill-danger400;
      }
    }
  }
}
