.nav-pill {
  @apply inline-block border border-white rounded text-primary-500 py-2 px-3;

  &:hover {
    @apply border-gray-200 bg-gray-200;
  }

  &.active,
  &.active:hover {
    @apply border-primary-500 bg-primary-500 text-white;
  }

  &.disabled,
  &.disabled:hover {
    @apply text-gray-400 cursor-not-allowed;
  }
}

.navbar {
  @apply flex flex-col items-center flex-wrap w-64 pt-4 pb-8 bg-gray-100;
  box-shadow: inset -1px 0px 0px #d0d5de;

  &-nav {
    @apply w-full flex flex-col;

    &-item {
      @apply w-full py-4 px-8;

      &:hover,
      &.active {
        @apply bg-white text-primary-500;
        box-shadow: inset -1px 0px 0px #d0d5de;
      }

      &:hover {
        @apply underline;
      }

      &.active {
        @apply font-semibold;
      }
    }

    &-title {
      @apply p-4;
      font-variant: small-caps;
    }
  }
}
