@import 'prosemirror-view/style/prosemirror.css';
@import 'prosemirror-menu/style/menu.css';
@import 'prosemirror-example-setup/style/style.css';

.ProseMirror-menubar {
  display: flex;
  padding: 0.25rem 0 0.5rem;
  border-bottom: 1px solid #cbd5e0;
}

.ProseMirror[contenteditable='true'] {
  min-height: 12rem;
}

.ProseMirror[contenteditable='true'],
.user-content--rich-text {
  @apply mb-2;

  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  h1 {
    @apply mb-2 text-3xl;
  }

  h2 {
    @apply mb-2 text-2xl;
  }

  h3 {
    @apply mb-2 text-xl;
  }

  h4 {
    @apply mb-1 text-lg font-bold;
  }

  h5 {
    @apply mb-1 text-lg;
  }

  h6 {
    @apply mb-1 text-base font-bold;
  }

  p,
  ul,
  ol {
    @apply mb-2;
  }

  li p {
    @apply mb-1;
  }

  blockquote {
    @apply pl-4 border-l-4 border-gray-500;
  }
}

.ProseMirror-menuitem {
  min-width: 1.5rem;
  text-align: center;
}
