.notes {
  h1 {
    @apply font-extrabold text-2xl;
  }
}

.highlight {
  background: #f7ff9d;
}

.font-marianne {
  font-family: 'Marianne', 'Source Sans Pro', Helvetica, Arial, sans-serif;
  letter-spacing: -0.3px;
}

.input-replace-text {
  @apply -ml-2 w-full;
  width: calc(100% + 0.5rem);
}

.note-search-input {
  @apply pl-4 py-2 pr-20 text-left transition ease-in-out duration-300 flex-grow max-w-480 rounded-full;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.19);

  &:focus {
    @apply outline-none;
  }

  &-gray {
    @apply text-primary-1000 font-medium bg-gray-200;
    &::placeholder {
      @apply text-gray-475 font-medium italic;
    }
  }
}

.search-input {
  @apply p-1 text-left transition ease-in-out duration-300 text-sm flex-grow;

  &::placeholder {
    @apply text-sm;
  }

  &[disabled] {
    @apply bg-gray-200;
  }

  &:focus {
    @apply outline-none;
  }

  &-open {
    @apply w-64 border-gray-300;
  }

  &-closed {
    @apply w-0 p-0 overflow-hidden border-white;
  }

  &-gray {
    @apply bg-gray-200;
    &::placeholder {
      @apply text-gray-475;
    }
  }

  &-primary {
    @apply bg-primary-100;
    &::placeholder {
      color: #8079fb;
    }
  }
}

.result-list {
  @apply absolute w-full rounded bg-white shadow-lg;
  transform: translateY(-100%);
  z-index: 11;
}

.result-item {
  @apply text-gray-900 select-none relative py-2 pl-3 pr-8 cursor-pointer;
  &[aria-selected='true'] {
    @apply bg-grey-100;
  }
  &:hover {
    @apply bg-grey-100;
  }
  &:focus {
    @apply bg-gray-100;
  }
}

.user-list {
  @apply w-full bg-white;
  z-index: 11;
}

.user-item {
  @apply select-none relative py-2 pl-3 cursor-default border-b border-gray-200;
  &[aria-selected='true'] {
    @apply bg-grey-100;
  }
  &:hover {
    @apply bg-grey-100;
  }
  &:focus {
    @apply bg-grey-100;
  }
}
