.search-input {
  @apply bg-primary-100 p-1 text-left transition ease-in-out duration-300 text-sm flex-grow;

  &::placeholder {
    color: #8079fb;
    @apply text-sm;
  }

  &[disabled] {
    @apply bg-gray-200;
  }

  &:focus {
    @apply outline-none;
  }

  &-open {
    @apply w-64;
  }

  &-closed {
    @apply w-0 p-0 overflow-hidden;
  }
}

.result-list {
  @apply absolute w-full rounded bg-white shadow-lg;
  transform: translateY(-100%);
  z-index: 11;
}

.result-item {
  @apply text-gray-900 cursor-default select-none relative py-2 pl-3 pr-8  cursor-pointer;
  &[aria-selected='true'] {
    @apply bg-primary-500 text-white;
  }
  &:hover {
    @apply bg-gray-100;
  }
  &:focus {
    @apply bg-gray-100;
  }
}
