.select-container {
  @apply flex justify-start items-center;
  max-width: calc(100% - 8rem);
}

.select-options {
  list-style: none;
  padding: 4px 0;
}

.select-options li {
  @apply bg-white cursor-pointer;
  padding: 6px 10px;
}

ul.select-options li:active,
ul.select-options li:focus,
ul.select-options li:hover,
ul.select-options li[aria-selected='true'] {
  @apply bg-grey-100;
}

ul[role='listbox'] li[aria-selected='true'] div:first-child {
  @apply bg-grey-100;
}
