.tab-group {
  @apply flex flex-row text-sm;
}

.tab {
  @apply px-4 py-1 border-b-2 flex flex-row text-dsfr-grey-700;

  &:hover {
    @apply bg-dsfr-grey-200;
  }
  &.active {
    @apply border-black text-black;
  }

  &.disabled {
    @apply border-gray-200 text-gray-400 cursor-not-allowed;
  }
}

.old-tab-group {
  @apply flex flex-row;
}

.old-tab {
  @apply px-4 border-b-4 flex flex-row;
  padding: 0.75rem;

  &.active {
    @apply border-primary-500 text-primary-500;
  }
}

.dashboard-tab-group {
  @apply flex flex-row;
}

.dashboard-tab {
  @apply flex border-b-2 justify-center;
  padding: 0.1rem;

  div {
    @apply rounded w-full text-center flex items-center justify-center;
    padding: 0.2rem 0.8rem;
  }

  &:hover {
    @apply cursor-pointer;
    div {
      @apply bg-primary-200;
    }
  }
  &.active {
    @apply border-primary-1000 text-primary-1000 font-medium;
  }

  &.disabled {
    @apply border-white text-gray-400 cursor-not-allowed;
  }
}
