.tooltip {
  position: relative;
}

.tooltip:after {
  opacity: 0;
  content: '';
}

.tooltip-action:after {
  @apply bg-black text-white;
}

.tooltip-info:after {
  @apply bg-white text-black;
}

.tooltip:hover:after {
  @apply absolute text-xs whitespace-nowrap rounded-sm;
  opacity: 1;
  transition: opacity 0s linear 0.2s;
  content: attr(data-tooltip);
  padding: 0 3px;
  top: -20px;
  left: 0;
  box-shadow: 2px 2px 8px #c6c6c6;
}

.new-tooltip {
  position: relative;
}

.tooltip-popup {
  @apply bg-white w-full text-black hidden absolute border border-l-4 max-w-4 py-1 px-2;
  top: calc(100% + 5px);
  left: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: max-content;
  max-width: 325px;
  z-index: 1000;
}

.new-tooltip:hover {
  .tooltip-popup {
    display: block;
  }
}

.popup {
  position: relative;
}

.popup:after {
  opacity: 0;
  content: '';
}

.popup-info:after {
  @apply bg-white text-black;
}

.popup:hover:after {
  @apply absolute text-xs rounded-sm max-w-80;
  opacity: 1;
  padding: 5px 10px;
  width: max-content;
  transition: opacity 0s linear 0.2s;
  content: attr(data-popup);
  top: 20px;
  left: 0;
  box-shadow: 2px 2px 8px #c6c6c6;
}
