.version-document {
  @apply flex rounded-sm overflow-hidden;

  &:hover a {
    @apply bg-gray-300 underline;
  }
}

.appendix-document {
  @apply flex overflow-hidden;

  &:hover a {
    @apply bg-dsfr-grey-200 underline;
  }
}
